version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: backend.Dockerfile 
    container_name: pdf-backend
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    restart: always

  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pdf-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: always
